body {
  margin:0 10px;
}
header {
  display: block;
  width: 100%;
  margin-left: 0px;
  background-color: #fff;
  box-shadow: 2px 2px 3px 0 #000;
}
h2{
  text-align: center;
  font-size: 20px;
  color: rgb(105, 104, 104);
}
.App {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}
#userInput {
  display: flex;
  flex-direction: column;
}
#userInput div{
  width: 100%;
  margin: auto;
}
#userInput input{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
  text-size-adjust: 5px;
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.188);
  color: #333;
  background-color:rgba(235, 135, 135, 0.142);
}
#firstLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 10px;
}
#userInput label{
  display: block;
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.submitBtn {
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  color: #333;
  background-color: rgba(209, 8, 8, 0.844);
}
.editField{
  margin: 20px 0;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.clear {
  clear:both;
}
.emailListed{
  float:right;
  margin-right: 2rem;
}
.editControls{
  display: none;
}
.editGui {
  margin-bottom: 20px;
}
.editGui button {
  width: 20%;
  margin-right: 1em;
}
.editGui input {
  width: 50%;
  padding: 5px;
}
#doneButton{
  display: none;
}
#editPasscodeInput{
  visibility: hidden;
}
#submitEmailsButton{
  display: none;
}
.form-wrapper {
  margin: 10px;
}
.full-input {
  display: inline-block;
  padding: 3px;
  border: 2px solid black;
}
input {
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}
label {
  display: block;
  font-size: 10px;
  text-align: center;
  color: grey;
  color: translucent;
}
h2{
  font: bold;
}
p {
  text-align: center;
  color: grey;
}
footer {
  background-color:rgba(235, 135, 135, 0.142);
}
.email{
  text-align: left;
  margin-left: 30%;
}
.custom{
  text-align: left;
  margin-left: 30%;
}
.subject{
  display: block;
  font-size: 15px;
  text-align: left;
  margin-left: 35%;
  color: grey;
  border-radius: 5px;
  border-color: rgba(233, 61, 61, 0.61);;
  background-color: transparent;
}
.OptionBtn {
  display: block;
  font-size: 15px;
  text-align: left;
  margin-left: 20%;
  color: rgba(233, 61, 61, 0.794);
  border-radius: 5px;
  border-color: rgba(233, 61, 61, 0.61);
  background-color: transparent;
}
footer {
  text-align: center;
  background-color: rgba(233, 61, 61, 0.794);
}
.label {
  font-size: 20px;;
  text-align: left;
  padding-left: 20%;
}
.clearBtn{
  display: block;
  display: grid;
  font-size: 15px;
  text-align: left;
  margin-left: 20%;
  color: rgba(233, 61, 61, 0.794);;
  border-radius: 5px;
  border-color: rgba(233, 61, 61, 0.61);;
  background-color: transparent;
}
.sendBtn{
  display: block;
  font-size: 15px;
  text-align: left;
  margin-left: 20%;
  color: rgba(233, 61, 61, 0.794);
  border-radius: 5px;
  border-color: rgba(233, 61, 61, 0.61);
  background-color: transparent;
}
.custom {
  display: block;
  font-size: 20px;;
  text-align: left;
  border-radius: 10px;
  border-color: rgba(233, 61, 61, 0.61);
}
.headLogo{
  width: 100px;
  height: 50px;
}
